body{
    margin: 0;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    background-size: 100% 50%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;

}


  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 570px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0  hsla(224, 23%, 55%,0.2), 0 6px 20px 0  hsla(224, 23%, 55%,0.19);
  }
  .hero{
    width: 100%;
    height: 40%;
    background-image: url('images/illustration-hero.svg');
    border-radius: 20px 20px 0 0;

  }
  .hero { background-position: center; }
  .summary{
    width: 100%;
    height: 65%;
    /* margin-top: 50px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .summary .title{
     text-align: center;
     margin-top: 30px; 
     font-weight: bolder;
     color:  hsl(223, 47%, 23%);
     font-size: 20px;
  }
  .summary .txt{
    text-align: center;
    margin-top: -20px;
    font-size: 14px;
    color:  hsla(223, 47%, 23%, 0.5);

  }
  .summary .plan-container{
    width: 80%;
    height: 90px;
    background-color:  hsla(225, 100%, 98%,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: -20px;

  }
  .summary .plan-container .price{
    display: flex;
    flex-direction: column;
  }
  .summary .plan-container .left{
    float: left;
    display: flex;
    flex-direction: row;
    
    margin-left: 15px;
  }
  .summary .plan-container .left .icon{
    float: left;
    display: flex;
    flex-direction: row;
    
    margin-right: 15px;
  }
  .summary .plan-container .change{
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    
  }

  .summary .plan-container .change:hover a:hover{
    opacity: 0.8;
    text-decoration: none;
  }
  .summary .plan-container .left .type{
    display: flex;
    justify-content: space-between;
    color:  hsla(223, 47%, 23%,1);
    font-size: 14px;
    font-weight: 900;
  }
  .summary .plan-container .left .money{
    display: flex;
    justify-content: space-between;
    color:  hsl(224, 23%, 55%);
    font-size: 14px;
    font-weight: 700;
  }

  .summary .payment-flex{
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
  .payment-flex{
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .payment{
    display: flex;
    justify-content: center;
  }
  .summary .payment-flex .payment .btn{
    background-color:  hsl(245, 75%, 52%);
    color: white;
    width: 80%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    display: flex;
    font-weight: 700;
    margin-top: -20px;
    box-shadow: 0 4px 8px 0  hsla(224, 23%, 55%,0.2), 0 6px 20px 0  hsla(224, 23%, 55%,0.19);

  }
  .summary .payment-flex .payment .btn:hover{
    cursor: pointer;
    background-color: hsla(245, 75%, 52%,0.5);;
  }
  .summary .payment-flex .cancel{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color:  hsl(224, 23%, 55%);
    font-weight: 700;
  }

  .summary .payment-flex .cancel:hover{
    color:  hsl(223, 47%, 23%);
    cursor: pointer;

  }  